.details {
  width: var(--hungredPercents);
  margin: 0;
  height: fit-content;
  min-height: 224px;
  font-size: 20px;
  text-align: justify;
  padding: 18px;
  border: var(--light_grey) solid 1px;
}