.imgContainer {
  height: var(--hungredPercents);
  width: 45%;
  background-color: var(--bg_grey);
  display: flex;
  align-items: center;
  justify-content: start;
}

.descriptionContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 56px;
}

.bookName {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.nameDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 800px) {
  .imgContainer {
    width: var(--hungredPercents);
    height: fit-content;
  }

  .descriptionContainer {
    padding: 24px;
    width: var(--hungredPercents);
    gap: 18px;
  }

  .nameDescription {
    gap: 8px;
  }
}