.sortParams {
  display: flex;
  gap: 10px;
  align-items: center;
  width: var(--hungredPercents);
}

.sortFilter {
  height: 42px;
  max-width: 246px;
  padding-right: 6px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--hungredPercents);
  background-color: white;
  color: var(--light_blue);
  font-size: 24px;
  outline: var(--light_blue);
  cursor: pointer;
}

.sortBy {
  margin: 0;
  padding: 0;
  font-size: 21px;
}

@media screen and (max-width: 530px) {
  .sortFilter {
    font-size: 21px;
  }
  
}