.decoratedHeader {
  font-size: 18px;
  color: var(--light_grey);
  text-decoration: underline;
  width: var(--hungredPercents);
  margin: 0;
  padding: 0;
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}