/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: inter;
  src: url(./assets/Inter-Regular.ttf);
}

:root {
  --hungredPercents: 100%;
  --grey: #555555;
  --light_grey: #939393;
  --bg_grey: #F3F2F1;
  --light_blue: #76889C;
}

* {
  box-sizing: border-box;
  font-family: inter;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
  padding: 0;
}


body .PageCard_card__o75Hh .Book_bookImg__HhjST {
  width: 162px;
  height: 234px;
}

body .PageCard_card__o75Hh .Book_book__9osoc {
  width: 100%;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 990px) {
  body .PageCard_card__o75Hh .Book_bookImg__HhjST {
    width: 135px;
    height: 195px;
  }
}

@media screen and (max-width: 420px) {
  body .PageCard_card__o75Hh .Book_bookImg__HhjST {
    width: 29.52vw;
    height: 42.62vw;
  }
}

@media screen and (max-width: 380px) {
  body .PageCard_card__o75Hh .Book_bookImg__HhjST {
    width: 44.28vw;
    height: 63.93vw;
  }
}