.book {
  width: 45vw;
  height: var(--hungredPercents);
  display: flex;
  padding-bottom: 38px;
  padding-top: 38px;
  justify-content: center;
}

.bookImg {
  width: 334px;
  height: 483px;  
  object-fit: cover;
  box-shadow: 12px 15px 21px var(--light_grey);
}

@media screen and (max-width: 910px) {
  .bookImg {
    width: 33.4vw;
    height: 48.3vw;
  }
}

@media screen and (max-width: 800px) {
  .book {
    width: var(--hungredPercents);
  }

  .bookImg {
    width: 270px;
    height: 389px;
  }
}