.searchBar {
  height: 45px;
  width: var(--hungredPercents);
  max-width: 671px;
  display: flex;
  justify-content: space-between;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: white;
  align-items: center;
  cursor: pointer;
}

.searchField {
  width: var(--hungredPercents);
  height: var(--hungredPercents);
  border: none;
  outline: none;
  font-size: 24px;
}

.searchBtn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: none;
  cursor: pointer;
}